<div class="row">
    <div class="col-lg-8">
        <h1 id="navbar">{{voice.title}}</h1>
        <div class="progress progress-striped active">
            <div class="progress-bar" style="width: 45%"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <p>{{voice.question}}</p>
    </div>
    <div class="col-lg-4">
        <h3>My answer</h3>
        <div class="list-group">
            <a href="#" class="list-group-item active" ng-repeat="img in phone.images">
                <h4 class="list-group-item-heading">Vaihtoehto1</h4>
                <p class="list-group-item-text">lisää tästä vaihtoehdosta</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Vaihtoehto2</h4>
                <p class="list-group-item-text">lisää tästä vaihtoehdosta</p>
            </a>
        </div>

    </div>

</div>
